<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Websuncommerce</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Bootstrap core CSS -->
			<link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.css">
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="/public/lib/bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
			
			<script src="/public/lib/bootstrap/js/ie-emulation-modes-warning.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
			<script src="/public/lib/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
	</head>
	
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Websun - Commerce</a>
			</div>
			<ul class="nav navbar-nav">
				<% for(var i = 0; i<header_navigation.length; i++){ %>
					<li><a href="<%= header_navigation[i].url %>"><%= header_navigation[i].title %></a></li>
				<% } %>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
		</div>
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-12"><h3><%=page_title%></h3><p><%=page_description%></p></div>
		</div>
	</div>
	<script src="/public/lib/bootstrap/js/jquery-3.1.0.min.js"></script>
</body>
</html>